*
{
    margin: 0;
    padding: 0;
    outline: none;
    box-sizing: border-box;
}
img
{
    width: 600px;
    height: 400px;
}
#btn1
{
    position: absolute;
    top: 20%;
    left: 2%;
    border-radius: 50%;
    border: none;
}
#btn2
{
    position: absolute;
    top: 20%;
    right: 55%;
    border-radius: 50%;
    border: none;
}
.fas
{
    font-size: 3rem;
    color: #444343;
    cursor: pointer;
}